.features {
	background-color: #ffffff;
	padding: 7.5rem 0 6.25rem;
	text-align: center;

	@include breakpoint('xs') {
		padding: 2em 0;
	}
}

.features-hero {
	border-bottom: 1px solid #ededed;
	font-size: 0;
	line-height: 0;
	margin: auto;
	padding-bottom: 4.25rem;

	@include breakpoint('xs') {
		padding-bottom: 1rem;
	}
}

.features-hero-box {
	display: inline-block;
	position: relative;
	vertical-align: top;
	line-height: 1rem;
	font-size: 1rem;
	width: 50%;

	@include breakpoint('xs') {
		display: block;
		width: 100%;

		img {
			margin-top: 1rem;
		}
	}

	img {
		width: 100%;
	}
}

.features-hero-title {
	color: #3f3f3f;
	font-size: 2.1rem;
	line-height: 1.3em;
	position: absolute;
	text-align: left;
	top: 50%;

	@include breakpoint('xs') {
		position: static;
		top: 0;
		text-align: center;
	}

	small {
		display: block;
		color: #9b9b9b;
		font-size: .7em;
	}
}

.features-list {
	font-size: 0;
	line-height: 0;
	margin: 3.3rem auto 0;
	padding: 0;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 25%;

	@include breakpoint('sm') {
		margin: 0 1rem;
		width: 40%;
	}

	@include breakpoint('xs') {
		display: block;
		margin: 0 auto 3rem;
		width: 100%;
	}
}

.features-separator {
	display: none;

	@include breakpoint('sm') {
		display: block;
	}
}

.features-item-icon {
	height: 63px;

	@include breakpoint('xs') {
		height: auto;
	}
}

.features-item-title {
	font-size: 1.5rem;
	line-height: 1.8rem;

	@include breakpoint('xs') {
		margin: 1em 0 .5em;
	}
}

.features-item-copy {
	font-size: 1rem;
	line-height: 1.75rem;
}
