.footer {
	background-color: $darkBlue;
	padding: 4rem 0 3rem;

	a {
		text-decoration: none;
		color: #ffffff;
	}
}

.footer-container {
	font-size: 0;
	line-height: 0;
}

.footer-box {
	color: #ffffff;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5rem;
	vertical-align: top;
	width: 37%;

	@include breakpoint('sm') {
		width: 50%;
	}

	@include breakpoint('xs') {
		display: block;
		width: 100%;
	}

	&:not(:first-child) {
		padding: 0 3.1rem;
	}

	&.small {
		border-left: 1px solid #37424f;
		position: relative;
		top: 3.5rem;
		padding-right: 0;
		width: 26%;

		.footer-title {
			position: absolute;
			top: -3.5rem;
		}

		.footer-nav {
			position: relative;
			top: -.5rem;
		}
	}

	&.fix-padding {
		margin-top: 3rem;
	}
}

.footer-title {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;

	@include breakpoint('xs') {
		font-size: 1rem;
	}
}


.footer-nav {
}

.footer-nav-item {
	display: block;
	font-family: $font-2;
	font-weight: 300;
	font-size: 0.85rem;
	opacity: 0.75;
}

.footer-social {
	font-size: .4rem;
	line-height: .6rem;
	margin-top: .4rem;

	@include breakpoint('xs') {
		margin-top: 1.5em;
	}
}

.footer-social-item {
	background-color: white;
	border-radius: 50%;
	color: $grayBlue;
	display: inline-block;
	font-size: 1rem;
	width: 1.7rem;
	height: 1.7rem;
	line-height: 1.7rem;
	text-align: center;
	margin: 0 .1rem;

		font-size: 1.2rem;
		line-height: 2rem;
		height: 2rem;
		width: 2rem;
		margin: 10px 2px;

	@include breakpoint('sm') {
		font-size: 1.2rem;
		line-height: 2rem;
		height: 2rem;
		width: 2rem;
		margin: 10px 2px;
	}

	@include breakpoint('xs') {
		font-size: 1.2rem;
		line-height: 2rem;
		height: 2rem;
		width: 2rem;
		margin: 10px 2px;
	}
}

.footer-logo {
	margin-bottom: 2.5rem;
}

.footer-copy {
	font-size: 0.85rem;
	color: white;
	opacity: 0.75;
	margin: 0 .5em;
	font-family: $font-2;
	font-weight: 300;
	margin-bottom: 2.5rem;
	letter-spacing: 0.5px;

	@include breakpoint('xs') {
		display: block;
		margin: .5em 0;
	}
}

