.hero {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.hero-content {
	color: #ffffff;
	margin-left: 45vw;
	margin-right: 10vw;
	padding: 4rem 0 7rem;
	position: relative;
	text-align: center;

	@include breakpoint('sm') {
		margin: auto;
		padding: 2rem 1rem;
	}

	@include breakpoint('xs') {
		margin: 0;
		width: 100%;
		padding: 2rem 1rem;
	}
}

.hero-title {
	font-size: 3rem;
	line-height: 1.35em;

	@include breakpoint('xs') {
		font-size: 1.8rem;
	}
}

.hero-copy {
	font-size: 1.3rem;
	line-height: 1.5em;
	margin-bottom: 2.5rem;

	@include breakpoint('xs') {
		font-size: 1rem;
	}
}

.hero-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	img {
		height: 100%;
	}
}
