@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.hero {
	overflow: hidden;
	position: relative;
	width: 100%;

	@include breakpoint('min-md') {
		body.fixed-nav & {
			margin-top: 77px;
		}
	}

	@include breakpoint('sm') {
		padding-top: 50px;
	}

	.typed-cursor{
	    animation: blink 0.7s infinite;
	    opacity: 1;
	}
}

.hero-content {
	color: #ffffff;
	margin-left: 45vw;
	margin-right: 10vw;
	padding: 4rem 0 7rem;
	position: relative;
	text-align: center;
	z-index: 2;

	@include breakpoint('sm') {
		margin: auto;
		padding: 2rem 1rem;
	}

	@include breakpoint('xs') {
		margin: 0;
		width: 100%;
		padding: 2rem 1rem;
	}
}

.hero-title {
	font-size: 3rem;
	line-height: 1.35em;

	@include breakpoint('xs') {
		font-size: 1.8rem;
	}
}

.hero-copy {
	font-size: 1.3rem;
	line-height: 1.5em;
	margin-bottom: 2.5rem;

	@include breakpoint('xs') {
		font-size: 1rem;
	}
}

.hero-type {
}

.hero-type-copy {
	display: none;
}

.hero-container {
	bottom: 0;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;


	.hero-slider {
		height: 100%;
		transition: opacity .5s ease-out;

		&.loading {
			opacity: 0;
		}

		.slick-list {
			height: 100%;

			.slick-track {
				height: 100%;
			}
		}
	}
}
