.people {
	background-color: $grayBlue;
	color: #ffffff;
	padding: 2.25rem 1rem 2.5rem;

	@include breakpoint('xs') {
		padding: 2.25rem 0 2.5rem;
	}
}

.people-box {
	margin: auto;
	width: 60%;

	@include breakpoint('md') {
		width: 80%;
	}

	@include breakpoint('xs') {
		width: 100%;
	}
}

.people-avatar {
	border-radius: 50%;
	display: inline-block;
	height: 100px;
	overflow: hidden;
	vertical-align: top;
	width: 100px;

	@include breakpoint('xs') {
		display: block;
		margin: auto;
	}

	img {
		width: 100%;
	}
}

.people-bio {
	display: inline-block;
	padding: 2rem 1.3rem 1.3rem;
	vertical-align: top;

	@include breakpoint('xs') {
		display: block;
		text-align: center;
		padding: 1rem 0;
	}
}

.people-name {
	display: block;
	font-size: 1.6rem;
}

.people-job {
	font-size: .8rem;
}

.people-quote {
	display: block;
	font-size: 1.25rem;
	font-style: italic;
	font-weight: normal;
	line-height: 1.6em;
	margin-top: 1.5rem;
	font-weight: 300;
	font-family: $font-2;

	@include breakpoint('xs') {
		margin-top: .5rem;
		text-align: center;
	}
}
