/* breakpoints */

$xsMax: '640px';
$smMax: '768px';
$smMax: '992px';
$mdMax: '1200px';

/* fonts */

$font: 'Montserrat', sans-serif;
// $font-2: 'Montserrat', sans-serif;
// $font: 'Roboto Slab', sans-serif;
$font-2: 'Roboto', sans-serif;

/* colors */

$grayBlue: #3e4f63;
